stages: [test, quality, deploy]

test_hangman:
  stage: test
  image: python:3.9
  tags:
    - docker
  before_script:
    - python -m pip install --upgrade pip
    - python -m pip install pytest pytest-cov flake8
  script:
    - echo "Running hangman game tests..."
    - python -m pytest -v --cov=hangman --cov-report=xml:coverage.xml --junitxml=report.xml
  artifacts:
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 1 week
  only:
    - dev
    - main
    - merge_requests